# Konfigurasi Aplikasi
BASE_URL="http://localhost/web_barber"

# Konfigurasi Database
DB_HOST="localhost"
DB_USER="root"
DB_PASS=""
DB_NAME="if_barber"

# Gemini API
# Masukkan API Key Gemini Anda di bawah ini
GEMINI_API_KEY=""
GEMINI_MODEL="gemini-2.0-flash"
